<div class="wrapper">

    <div class="b-container theme-dark-font">

        <div class="box" [routerLink]="'/cors'">
            <div class="icon">01</div>
            <div class="content">
                <h3>Change Orders</h3>
                <p>A change order is work that is added to or deleted from the original contract,
                    which alters the amount and/or completion date. This may force a new
                    project to handle significant changes to the current project.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/cors'">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="['/users']">
            <div class="icon">02</div>
            <div class="content">
                <h3>Users</h3>
                <p>Users may be placed on teams, which in turn are placed on to projects. Teams can
                    then be used as distribution groups and have actions applied to them, such as, sent
                    text/SMS messages, emailed, given a role and more.
                </p>
                <!-- <button mat-raised-button [routerLink]="['/users']">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="['/list']">
            <div class="icon">03</div>
            <div class="content">
                <h3>List</h3>
                <p>List allow you to keep track of Company, Project or Team wide events.
                    With proper permissions one can create events for the Company
                    -or- the Project. The Team list anyone can post events to for all others.
                </p>
                <!-- <button mat-raised-button [routerLink]="['/list']">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="['/about']">
            <div class="icon">04</div>
            <div class="content">
                <h3>Alerts / Messages</h3>
                <p>All software needs the ability to communicate with the end-user success and error messages.
                    We capture all error messages and log them. This allows us to know
                    where our bugs are and proactively fix them.
                </p>
                <!-- <button mat-raised-button [routerLink]="['/about']">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="'/infinite-scroll'">
            <div class="icon">05</div>
            <div class="content">
                <h3>Infinite-Scroll</h3>
                <p>Infinite scrolling is a web-design technique that loads content continuously as the user scrolls down the page, eliminating the need for pagination.
                   Popular websites like Twitter and Facebook rely on infinite-scrolling.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/infinite-scroll'">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="'/app'">
            <div class="icon">06</div>
            <div class="content">
                <h3>Themes & Settings</h3>
                <p>A theme is the set of colors that will be applied to the Angular Material components.
                  You can also choose a route-transition. These transitions are then used when switching routes.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/app'">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="'/budgets'">
            <div class="icon">07</div>
            <div class="content">
                <h3>Large Tables</h3>
                <p>This shows a way to handle large tabular data. The table's header and first column are fixed in place; that is they don't scroll like the other columns do.
                  The user may also choose which columns to include/exclude.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/budgets'">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="'/estimates'">
            <div class="icon">08</div>
            <div class="content">
                <h3>Recursion</h3>
                <p>This example uses recursion. There is an unknown number of line-items. Each line-item can be nested
                  to the nth-level. So we use recursion to create a nested hierarchy of line-items and all their children.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/estimates'">Go Now!</button> -->
            </div>
        </div>

        <div class="box" [routerLink]="'/tree'">
            <div class="icon">09</div>
            <div class="content">
                <h3>Tree & Stuff</h3>
                <p>This is a hierarchical-tree-view that allows users to select items. The tree can have nth-level of children.
                    Once selected the item is brought over into a grid. The heirarchy of parent/child/grand-children is maintained.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/tree'">Go Now!</button> -->
            </div>
        </div>

    </div>

</div>
