<div class="wrapper">

    <div class="b-container theme-dark-font">

        <ng-container *ngFor="let pattern of patterns">
            <mat-card class="box" (click)="boxSelect(pattern)" [class.box-large]="pattern.selected">
                <div class="icon">{{ pattern.id }}</div>
                <div class="content">
                    <h3>{{ pattern.name }}</h3>
                    <p>{{ pattern.description }}</p>
                </div>
            </mat-card>
        </ng-container>  

        <!--
        <mat-card class="box" (click)="boxSelect($event)">
          <div class="icon">01</div>
          <div class="content">
              <h3>Heroes</h3>
              <p>Here we consume the Marvel API to retreive Earth's mighties heroes... and villians.
                The data is then presented in a table with standard pagination, sorting and searching.
                You may also select heroes and add them to a team.
              </p>
          </div>
        </mat-card>

        <mat-card class="box" (click)="boxSelect($event)">
            <div class="icon">02</div>
            <div class="content">
                <h3>Movies</h3>
                <p>This page features infinite-scrolling that we use to continuously consume the The Movie DB API.
                It also includes a search feature to help you find your favorite flix.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" (click)="boxSelect(3)">
            <div class="icon">03</div>
            <div class="content">

              <h3>Q & A</h3>
              <p>This page uses Google's Firebase. Cloud Firestore is a NoSQL document database that lets you easily store, sync, and query data for your mobile and web apps - at global scale.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" >
            <div class="icon">04</div>
            <div class="content">
                <h3>Happy Trails</h3>
                <p>This page uses the Google Cloud Platform and its mapping API to display some of
                  my favorite hiking trails around Littleton.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/list'">
            <div class="icon">05</div>
            <div class="content">
             <h3>Jedi Master or Sith Lord?</h3>
                <p>Test your Star Wars knowledge! Drag-and-drop each character to either the Dark-Side or the Light-Side. Your choice!
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/app'">
            <div class="icon">06</div>
            <div class="content">
                <h3>Themes & Settings</h3>
                <p>A theme is the set of colors that will be applied to the Angular Material components.
                  You can also choose a route-transition. These transitions are then used when switching routes.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/cors'">
            <div class="icon">07</div>
            <div class="content">
              <h3>Change Orders</h3>
              <p>The left-side displays all items in an infinite-scrollable list.
                Items can then be selected and their details displayed on the right-side.
                Try the multi-select checkbox for some interesting results.
              </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/estimates'">
            <div class="icon">08</div>
            <div class="content">
                <h3>Recursion</h3>
                <p>This example uses recursion. There is an unknown number of line-items. Each line-item can be nested
                  to the nth-level. So we use recursion to create a nested hierarchy of line-items and all their children.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/tree'">
            <div class="icon">09</div>
            <div class="content">
                <h3>Tree & Stuff</h3>
                <p>This is a hierarchical-tree-view that allows users to select items. The tree can have nth-level of children.
                    Once selected the item is brought over into a grid. The heirarchy of parent/child/grand-children is maintained.
                </p>
            </div>
        </mat-card>

        -->

    </div>

</div>
