<div class="wrapper">

    <div class="b-container theme-dark-font">

        <mat-card class="box" [routerLink]="'/superheroes/heroes'">
          <div class="icon">01</div>
          <div class="content">
              <h3>Heroes</h3>
              <p>Here we consume the Marvel API to retreive Earth's mighties heroes... and villians.
                The data is then presented in a table with standard pagination, sorting and searching.
                You may also select heroes and add them to a team.
              </p>
          </div>
        </mat-card>

        <mat-card class="box" [routerLink]="['/infinite-scroll']">
            <div class="icon">02</div>
            <div class="content">
                <h3>Star Wars</h3>
                <p>This page features infinite-scrolling that we use to continuously consume the Star Wars API.
                It also conveniently remembers which character was selected when you view thier details.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="['/list']">
            <div class="icon">03</div>
            <div class="content">
                <h3>List</h3>
                <p>These list allow you to drag-and-drop an item from one list to another.
                 I must have been using Jira and thought, "Hey, let me try that!"

                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="['/trails']">
            <div class="icon">04</div>
            <div class="content">
                <h3>Happy Trails</h3>
                <p>This page uses the Google Cloud Platform and its mapping API to display some of
                  my favorite hiking trails around Littleton.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/cors'">
            <div class="icon">05</div>
            <div class="content">
                <h3>Change Orders</h3>
                <p>The left-side displays all items in an infinite-scrollable list.
                  Items can then be selected and their details displayed on the right-side.
                  Try the multi-select checkbox for some interesting results.
                </p>
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/app'">
            <div class="icon">06</div>
            <div class="content">
                <h3>Themes & Settings</h3>
                <p>A theme is the set of colors that will be applied to the Angular Material components.
                  You can also choose a route-transition. These transitions are then used when switching routes.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/app'">Go Now!</button> -->
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/budgets'">
            <div class="icon">07</div>
            <div class="content">
                <h3>Large Tables</h3>
                <p>This shows a way to handle large tabular data. The table's header and first column are fixed in place; that is they don't scroll like the other columns do.
                  The user may also choose which columns to include/exclude.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/budgets'">Go Now!</button> -->
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/estimates'">
            <div class="icon">08</div>
            <div class="content">
                <h3>Recursion</h3>
                <p>This example uses recursion. There is an unknown number of line-items. Each line-item can be nested
                  to the nth-level. So we use recursion to create a nested hierarchy of line-items and all their children.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/estimates'">Go Now!</button> -->
            </div>
        </mat-card>

        <mat-card class="box" [routerLink]="'/tree'">
            <div class="icon">09</div>
            <div class="content">
                <h3>Tree & Stuff</h3>
                <p>This is a hierarchical-tree-view that allows users to select items. The tree can have nth-level of children.
                    Once selected the item is brought over into a grid. The heirarchy of parent/child/grand-children is maintained.
                </p>
                <!-- <button mat-raised-button [routerLink]="'/tree'">Go Now!</button> -->
            </div>
        </mat-card>

    </div>

</div>
