<mat-toolbar id="comp-toolbar" class="fixed-bar" color="primary">
  <mat-toolbar-row class="search-row">

    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup.enter)="search()" >
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()" >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </mat-toolbar-row>

  <mat-toolbar-row>

    <button mat-button (click)="onCreate()">
      <mat-icon title="Add User">add</mat-icon>
    </button>

    <!-- <button mat-button (click)="changeViews()">
      <mat-icon title="Cards View">apps</mat-icon>
    </button> -->

    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addToTeam()">Add to Team</button>
      <!-- <button mat-menu-item>Email</button>
      <button mat-menu-item>Text/SMS</button> -->
    </mat-menu>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="totalRows" (page)="pageChanged($event)"></mat-paginator>

  </mat-toolbar-row>
</mat-toolbar>


<mat-table class="table-down" [dataSource]="dataSource" matSort (matSortChange)="sortChanged($event)">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="selectAllFiles($event)"
          [checked]="bulkCheckbox">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="selectRow(row, $event)"
          [checked]="row.selected">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element" @tableCells>{{element.name}}</mat-cell>
    </ng-container>
<!--
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Desc</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.desc}}</mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Modified</mat-header-cell>
      <mat-cell *matCellDef="let element" @tableCells>{{element.modified | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comics">
      <mat-header-cell *matHeaderCellDef >Comics</mat-header-cell>
      <mat-cell *matCellDef="let element" @tableCells>{{element.comics.available}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef >Details</mat-header-cell>
      <mat-cell *matCellDef="let element" @tableCells><a href="{{element.urls[1].url}}" target="_blank" *ngIf="element.urls">wiki</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" @tableCells>
        <button mat-icon-button (click)="onEdit(row, $event)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row, $event)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="3">
        Loading data...
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="3">
        No data.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row, $event)" (dblclick)="onEdit(row, $event)" [class.animation-fade-out]="row.removed" ></mat-row>

    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && totalRows==0)}"></mat-footer-row>
  </mat-table>
