
.fixed-bar { position: sticky; z-index: 2; top: 65px; }

.toolbar-wrapper { display: flex; }
.mat-toolbar .mat-paginator  { flex-grow: 2; background-color: transparent; color: currentColor; }
#comp-toolbar .mat-toolbar-row.search-row { align-items: flex-end; height: 40px; }
#comp-toolbar .mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
  font: 400 16px/24px Roboto,"Helvetica Neue",sans-serif;
}

::ng-deep #comp-toolbar .mat-paginator-range-label {
  margin: 0px 5px 0 5px !important;
}

.mLogo { padding-top: 9px; }
// .mLogoBtn {
//   background: rgba(0, 0, 0, 0.2) !important;
// }
