#global-content.loading-doors {
  overflow: hidden;
}

#loading-bay {
  position: fixed;
  top: calc(100vh - 100vh - 100%);
  width: 1200px;
  height: calc(100vh - 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3f3f3 0%, #dedede 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f3f3f3 0%,#dedede 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f3f3f3 0%,#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */

  border-bottom: 1px solid #f7f7f7;
  overflow: hidden;
}

#loading-bay.loading-main {
  -webkit-animation: ANIMATION-BLUR-IN .9s ease-in; /* Safari 4+ */
  -moz-animation:    ANIMATION-BLUR-IN .9s ease-in; /* Fx 5+ */
  animation:         ANIMATION-BLUR-IN .9s ease-in; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
@-webkit-keyframes ANIMATION-BLUR-IN {
  0%   { }
  100% { top: calc(100vh - 100vh) }
}
@-moz-keyframes ANIMATION-BLUR-IN {
  0%   { }
  100% { top: calc(100vh - 100vh) }
}
@keyframes ANIMATION-BLUR-IN {
  0%   { }
  100% { top: calc(100vh - 100vh) }
}
/* done */
#loading-bay.loading-main-out {
  -webkit-animation: ANIMATION-BLUR-OUT .9s ease-in; /* Safari 4+ */
  -moz-animation:    ANIMATION-BLUR-OUT .9s ease-in; /* Fx 5+ */
  animation:         ANIMATION-BLUR-OUT .9s ease-in; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
/* animations */
@-webkit-keyframes ANIMATION-BLUR-OUT {
  0%   { top: calc(100vh - 100vh) }
  100% { }
}
@-moz-keyframes ANIMATION-BLUR-OUT {
  0%   { top: calc(100vh - 100vh) }
  100% { }
}
@keyframes ANIMATION-BLUR-OUT {
  0%   { top: calc(100vh - 100vh) }
  100% { }
}

/* bottom */
#loading-bay-bottom {
  position: fixed;
  bottom: calc(100vh - 100vh - 100%);;
  width: calc(100% - 285px);
  max-width: 1200px;
  height: calc(100vh - 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 201;

  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #dedede 0%, #b3b3b3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dedede 0%,#b3b3b3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #dedede 0%,#b3b3b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */

  border-top: 1px solid #afafaf;
  // overflow: hidden;
}
#global-content.small-nav #loading-bay-bottom {
  width: calc(100% - 115px);
}

#loading-bay-bottom.loading-main {
  -webkit-animation: ANIMATION-BLUR-IN-2 .9s ease-in; /* Safari 4+ */
  -moz-animation:    ANIMATION-BLUR-IN-2 .9s ease-in; /* Fx 5+ */
  animation:         ANIMATION-BLUR-IN-2 .9s ease-in; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
@-webkit-keyframes ANIMATION-BLUR-IN-2 {
  0%   { }
  100% { bottom: calc(100vh - 100vh) }
}
@-moz-keyframes ANIMATION-BLUR-IN-2 {
  0%   { }
  100% { bottom: calc(100vh - 100vh) }
}
@keyframes ANIMATION-BLUR-IN-2 {
  0%   { }
  100% { bottom: calc(100vh - 100vh) }
}
/* done */
#loading-bay-bottom.loading-main-out {
  -webkit-animation: ANIMATION-BLUR-OUT-2 .9s ease-in; /* Safari 4+ */
  -moz-animation:    ANIMATION-BLUR-OUT-2 .9s ease-in; /* Fx 5+ */
  animation:         ANIMATION-BLUR-OUT-2 .9s ease-in; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}
/* animations */
@-webkit-keyframes ANIMATION-BLUR-OUT-2 {
  0%   { bottom: calc(100vh - 100vh) }
  100% { }
}
@-moz-keyframes ANIMATION-BLUR-OUT-2 {
  0%   { bottom: calc(100vh - 100vh) }
  100% { }
}
@keyframes ANIMATION-BLUR-OUT-2 {
  0%   { bottom: calc(100vh - 100vh) }
  100% { }
}

/* circle bottom */
.loading-circle {
  position: absolute;
  top: -70px;
  width: 200px;
}

.partial-circle {  
  position: absolute;
  height: 100px;
  width: 200px;
  overflow: hidden;
}
.partial-circle:before {
  content: '';
  position: absolute;
  top: 5px;
  background: #dedede;
  height: 200px;
  width: 200px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.55);
}

//
.inner-circle {
  position: absolute;
  top: 16px;
  left: 12px;
  z-index: 2;
  height: 175px;
  width: 175px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #dedede 0%, #b3b3b3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dedede 0%,#b3b3b3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #dedede 0%,#b3b3b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */

  box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.inner-circle-logo {
  height: 150px;
  width: 150px;
  margin-top: -8px;
  background-image: url(../../assets/images/loading.gif);
  background-position: center;

  mask-image: url(../../assets/images/avengers-logo.svg);
  -webkit-mask-image: url(../../assets/images/avengers-logo.svg);
  -moz-mask-image: url(../../assets/images/avengers-logo.svg);
  
}



.theme-holder {
  padding: 0 22px;
  width: 65px;
  height: 65px;
}
.dark {
  display: inline-block;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #303030;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.light {
  display: inline-block;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.yin-yang {
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

