<div id="slideOut" [class.closedSlideOut]="isSlideOutOpen">
  <div class="bar">
    <button (click)="toggleSlideOut('close')" >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div id="slideProfile" [style.display]="slideOutItems[0].status ? 'inherit' : 'none'">
    <app-profile></app-profile>
  </div>

  <div id="slideSearch" [style.display]="slideOutItems[3].status ? 'inherit' : 'none'">
    <app-search></app-search>
  </div>

  <div id="slideHelp" [style.display]="slideOutItems[2].status ? 'inherit' : 'none'">
    <app-help></app-help>
  </div>

  <div id="slideNotifications" [style.display]="slideOutItems[1].status ? 'inherit' : 'none'">
    <app-notifications></app-notifications>
  </div>

</div>

<div id="flex-parent">

  <div id="global-nav">
    <div id="fixed-nav">
      <div id="global-left-nav">
        <div class="main-loader" [hidden]="!HTTPActivity"><i class="fas fa-cog fa-spin" aria-hidden="true"></i></div>

        <a [routerLink]="['/']">
          <div id="logo" matTooltip="Home Jeeves" #Logo="matTooltip" (click)="Logo.toggle()"></div>
        </a>

        <div class="btns-holder">
          <div class="m-icon" matTooltip="Profile" #Profile="matTooltip" (click)="Profile.toggle()" (click)="toggleSlideOut('Profile')"><div><i class="material-icons">person</i></div></div>
          <div class="m-icon" matTooltip="Search" #Search="matTooltip" (click)="Search.toggle()" (click)="toggleSlideOut('Search')"><div><i class="material-icons">search</i></div></div>
          <div class="m-icon" matTooltip="Help" #Help="matTooltip" (click)="Help.toggle()" (click)="toggleSlideOut('Help')"><div><i class="material-icons">help_outline</i></div></div>
          <div class="m-icon" matTooltip="Notifications" #Notifications="matTooltip" (click)="Notifications.toggle()" (click)="toggleSlideOut('Notifications')"><div><i class="material-icons">notifications_none</i></div></div>
        </div>

        <!-- themes -->
        <div class="theme-holder">
          <span class="light" matTooltip="Light Theme" #LightTheme="matTooltip" (click)="LightTheme.toggle()" (click)="onSetTheme('default-theme')"></span>
          <span class="dark" matTooltip="Dark Theme" #DarkTheme="matTooltip" (click)="DarkTheme.toggle()" (click)="onSetTheme('dark-theme')"></span>
        </div>

        <!-- <img class="yin-yang" src="../../assets/images/yin-yang.svg" /> -->

      </div>

      <div id="global-main-nav" [class.small-nav]="isOpen">
        <main-nav #nav></main-nav>
      </div>
    </div>
    <div id="nav-buffer" [class.small-nav]="isOpen"></div>
  </div>

  <div id="global-content" [class.small-nav]="isOpen" [class.loading-doors]="isDoorOpen" >
    <main-header></main-header>
    <!-- loading doors -->
    <div id="loading-bay" [class.loading-main]="isDoorOpen" [class.loading-main-out]="isDoorOpen === false" >
    </div>
    <div id="loading-bay-bottom" [class.loading-main]="isDoorOpen" [class.loading-main-out]="isDoorOpen === false" >
      <div class="loading-circle">
        <div class="partial-circle"></div>
        <div class="inner-circle">
          <div class="inner-circle-logo">

          </div>
        </div>
      </div>
    </div>

    <div class="global-routed" [@fader]="prepareRoute(outlet)" *ngIf="animationTrigger == 'fader'">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="global-routed" [@slideLeft]="prepareRoute(outlet)" *ngIf="animationTrigger == 'slideLeft'">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="global-routed" *ngIf="animationTrigger == 'off'">
      <router-outlet ></router-outlet>
    </div>

  </div>

</div>
