// .center-all {
//   position: absolute;
//   text-align: center;
//   font-family: sans-serif;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 35rem;
// }

.page-container {
  height: -moz-calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: calc(100vh - 65px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-all {
  width: 35rem;
  height: 120px;
  text-align: center;
  font-family: sans-serif;
}
