

.page-container {
  height: -moz-calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: calc(100vh - 65px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-all {
  width: 35rem;
  height: 175px;
  text-align: center;
  font-family: sans-serif;
}


// .dark {

//   background-color: #272b2f;
//   border-bottom: 1px solid #535f6b;

//   box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
//   margin: 0 0 70px;
//   padding: 30px;

//   -moz-border-radius: 4px;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
// }
