<div class="wrapper">

  <div class="pane-left my-shadow">

    <div class="pad-maker">
      <div class="social-wrapper">
        <div class="social-icons">

          <a href="https://www.linkedin.com/in/markangeletti" target="_blank" rel="me" class="socialicon" matTooltip="LinkedIn" #LinkedIn="matTooltip" (click)="LinkedIn.toggle()">
            <svg class="SVGInline-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M1000 500c0 277-223 500-500 500S0 777 0 500 223 0 500 0s500 223 500 500zM375 260c-1-41-32-73-83-73-50 0-83 32-83 73s32 73 82 73h1c51 0 83-32 83-73zm-21 136H229v354h125V396zm458 166c0-114-56-187-146-187-50 0-87 30-104 75l-4-54H434c1 13 3 83 3 83v271h125V562c0-50 23-83 62-83 38 0 63 20 63 83v188h125V562z"></path></svg>
          </a>
          <a href="https://www.facebook.com/mark.angeletti" target="_blank" rel="me" class="socialicon" matTooltip="Facebook" #Facebook="matTooltip" (click)="Facebook.toggle()">
            <svg class="SVGInline-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M1000 500c0 233-159 429-375 484V604h107l18-125H625V369c0-36 18-56 55-56h79V196s-37-8-90-8c-120 0-180 67-180 166v125H375v125h114v396C218 994 0 772 0 500 0 224 224 0 500 0s500 224 500 500z"></path></svg>
          </a>
          <a href="https://twitter.com/markangeletti" target="_blank" rel="me" class="socialicon" matTooltip="Twitter" #Twitter="matTooltip" (click)="Twitter.toggle()">
            <svg class="SVGInline-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M1000 500c0 277-223 500-500 500S0 777 0 500 223 0 500 0s500 223 500 500zM875 317c-25 11-53 18-82 22 30-17 51-45 61-79-28 17-57 28-89 35-25-28-62-45-103-45-78 0-141 63-141 142 0 10 1 22 3 32-118-5-223-62-294-149-11 22-18 46-18 72 0 50 24 93 62 118-23 0-45-7-64-18v2c0 69 49 126 114 140-12 3-24 4-37 4-9 0-19-1-27-2 18 57 71 95 132 96-48 38-108 65-176 65-11 0-23-1-33-2 62 40 138 62 217 62 262 0 404-216 404-404v-18c28-19 51-45 71-73z"></path></svg>
          </a>
        </div>
        <!-- picture -->
        <!-- <div class="my-pic my-shadow" [style.background-image]="'url(../../assets/images/' + pic.image + ')'">
        </div> -->

        <!-- flip card -->
        <div class="flip-card" (click)="cardFront =! cardFront" [class.cardBack]="!cardFront" >
          <div class="flip-card-inner flip-shadow">
            <div class="flip-card-front" >
              <div class="my-pic flip-shadow" [style.background-image]="'url(../../assets/images/' + pic.image + ')'"></div>
            </div>
            <div class="flip-card-back" >
              <span class="flip-details">{{ pic.details }}</span>
            </div>
          </div>
        </div>

      </div>


      <h2 class="ch-title raleway">Welcome to Code Hippie!</h2>
      <h4 class="ch-handwriting">...the playground of Mark Angeletti...</h4>
    </div>

    <p class="quote">
      Ease of use may be invisible, but its absence sure isn’t.
    </p>

    <div class="pad-maker">

      <h2 class="raleway">What is this place?</h2>
      <h4 class="ch-handwriting">...butterflies and zebras and moonbeams and fairy tales...</h4>
      <p>
        This place serves as a code repository. Here you will find miscellaneous components that do <i>'things'</i>.
        Some consume the <a [routerLink]="['/superheroes/heroes']" >Marvel API</a>, some the <a [routerLink]="['/movies']" >Movie Database</a>, some hold fully functional C.R.U.D operations,
        while others are just experiments. Keep in mind this site is a work in progress; as is life.
      </p>
      <!-- <p>
        I would suggest starting at the <a [routerLink]="['/buffet']" >buffet</a>. It consists of
        several tasty dishes.
      </p> -->

      <h2 class="raleway">Who am I?</h2>
      <h4 class="ch-handwriting">...mild-mannered code pusher by day; father, husband, soccer coach by night...</h4>
      <p>
        I have been building web applications for over 20 years. I am focused on using the latest technologies with proven coding methodologies to create sophisticated and elegant software.
        I have done work for Coca-Cola, Fastsigns, Quiznos, and other blue-chip companies.
      </p>

      <h2 class="raleway">Why should you hire me?</h2>
      <h4 class="ch-handwriting">...surround yourself with people who challenge you, teach you, and push you...</h4>
      <ul class="ulOne">
        <li>I humanize technology.</li>
        <li>I am passionate about front-end development and end user experience.</li>
        <li>I am comfortable working with a team in an agile environment.</li>
        <li>I thrive in an environment with direct, open, and honest communication.</li>
      </ul>

    </div>

    <div class="imgLFC">
      <img src="assets/images/lfc-cap.svg" width="100" height="87" />
      <!-- width="150" height="130" -->
      <span>You'll never walk alone!</span>
    </div>

  </div>

  <div class="pane-right">

    <div class="skills">
      <div class="skill-filter-holder">
        <div class="frontend" (click)="filterSkill('frontend')"><span class="skill-filter my-shadow" ></span><i>Frontend</i></div>
        <div class="backend" (click)="filterSkill('backend')"><span class="skill-filter my-shadow" ></span><i>Backend</i></div>
        <div class="app" (click)="filterSkill('app')"><span class="skill-filter my-shadow" ></span><i>App</i></div>
      </div>
      <div class="legendish">
        <span class="curly"></span>
        <span class="ch-handwriting legendText">Click to filter</span>
      </div>
    </div>

    <ng-container *ngFor="let skill of mySkills">

      <div *ngIf="skill.selected" class="skill my-shadow" class="skill-width_{{ skill.level }} type_{{ skill.type }}" >
        <span>{{ skill.skill }}</span>
      </div>

    </ng-container>

  </div>

</div>
