<div class="wrapper">

  <div class="pane-left my-shadow">

    <div class="pad-maker">
      <div class="my-pic"></div>
      <!-- <span>"That's no moon… it's a space station!"</span> -->
      <h2 class="ch-title">Welcome to Code Hippie!</h2>
      <h4 class="ch-handwriting">...the playground of Mark Angeletti...</h4>
    </div>

    <p class="quote">
      Creating internet applications that enhance our lives is what gets me up in the morning.
    </p>

    <div class="pad-maker">

      <h2>What is this place?</h2>
      <h4 class="ch-handwriting">...butterflies and zebras and moonbeams and fairy tales...</h4>
      <p>
        This place serves as a code repository. Here you will find miscellaneous components that do <i>'things'</i>.
        Some consume the <a [routerLink]="['/superheroes/heroes']" >Marvel API</a>, some the <a [routerLink]="['/infinite-scroll']" >Star Wars API</a>. Some hold fully functional C.R.U.D operations,
        while others are just experiments. Keep in mind this site is a work in progress; as is life.
      </p>
      <p>
        I would suggest starting at the <a [routerLink]="['/buffet']" >buffet</a>. It consist of
        several tasty <span class="strike">dishes</span> pages.
      </p>

      <h2>Who am I?</h2>
      <h4 class="ch-handwriting">...mild-mannered code pusher by day; father, husband, soccer coach by night...</h4>
      <p>
        I have been building web applications for over 20 years. I am focused on using the latest technologies with proven coding methodologies to create sophisticated and elegant software.
        I have done work for Coca-Cola, Fastsigns, Quiznos, and other blue-chip companies.
      </p>

      <h2>Why you should hire me</h2>

      <ul>
        <li>I am passionate about front-end development and end user experience.</li>
        <li>I am comfortable working with a team in an agile environment.</li>
        <li>I appreciate constructive criticism and thrive in an environment with direct, open and honest communication.</li>
      </ul>




      <div class="social-icons">
        <a href="https://www.linkedin.com/in/markangeletti" target="_blank" rel="me" class="socialicon">
          <i class="fab fa-linkedin icon-large"></i>
        </a>
        <a href="https://www.facebook.com/mark.angeletti" target="_blank" rel="me" class="socialicon">
          <i class="fab fa-facebook icon-large"></i>
        </a>
        <a href="https://twitter.com/markangeletti" target="_blank" rel="me" class="socialicon">
          <i class="fab fa-twitter-square icon-large"></i>
        </a>
      </div>

    </div>

  </div>

  <div class="pane-right">

    <div class="skills">
      <div class="skill-filter-holder">
        <div class="frontend" (click)="filterSkill('frontend')"><span class="skill-filter my-shadow" ></span><i>Front-end</i></div>
        <div class="backend" (click)="filterSkill('backend')"><span class="skill-filter my-shadow" ></span><i>Back-end</i></div>
        <div class="app" (click)="filterSkill('app')"><span class="skill-filter my-shadow" ></span><i>App</i></div>
      </div>
      <div class="legendish">
        <span class="curly"></span>
        <span class="ch-handwriting legendText">Click to filter</span>
      </div>
    </div>

    <ng-container *ngFor="let skill of mySkills">

      <div *ngIf="skill.selected" class="skill my-shadow" class="skill-width_{{ skill.level }} type_{{ skill.type }}" >
        <span>{{ skill.skill }}</span>
      </div>

    </ng-container>

  </div>

</div>
