.floor { 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid pink; margin: 5px; 
    height: calc(100vh - 105px);
}

.square {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
}

mat-slider {
    width: 300px;
}