<div class="bot-bar">
    <mat-slider min="20" max="80" step="10" value="30" (input)="onSliderChange($event)"></mat-slider> 
    <button mat-stroked-button *ngIf="!isFloorSet" (click)="createGrid()">Set Floor</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.bot === null" (click)="setBot()">Set Bot</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.bot" (click)="turnBot()">Turn Bot</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.bot && tile.botPath" (click)="deletePath()">Delete Path</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.bot && !isPathSetting && !tile.botPath" (click)="setPath()">Start Path</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.bot && isPathSetting" (click)="endPath()">End Path</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.botPath && !tile.isPathShown" (click)="showPath()">Show path</button>
    <button mat-stroked-button *ngIf="isFloorSet && tile && tile.botPath && tile.isPathShown" (click)="hidePath()">Hide Path</button>
    <!-- <div>{{ tile | json }}</div> -->
</div>

<div class="floor" [class.floor-set]="isFloorSet" [class.path-setting]="isPathSetting" #floor>
    <!-- 
    <ng-container *ngFor="let item of cells;">
        <div *ngIf="!isFloorSet" class="square" [style.width.px]="square" [style.height.px]="square"></div>
    </ng-container> 
    -->
    <ng-container *ngIf="isFloorSet">
        <div class="floor-row" [style.height.px]="square" [style.min-height.px]="square" *ngFor="let row of floorGrid; let i = index">

            <div class="column square" 
            [class.selected]="item.selected"
            [class.path]="item.path"
            [class.can-path]="item.canPath"
            [style.width.px]="square" 
            [style.min-width.px]="square" 
            [style.height.px]="square"
            [style.min-height.px]="square"
            *ngFor="let item of row;" 
            (click)="squareSelect(item)">
            
                <div *ngIf="item.bot" class="rotate_{{item.botDirection}}" [class.bot-has-path]="item.botPath" >
                    <div class="bot" [style.background-size.px]="square" [style.height.px]="square" [style.width.px]="square" ></div>
                </div>

            </div>

        </div>
    </ng-container>

</div>