.bot-bar button {
    margin: 0 2px;
}

.floor { 
    display: flex;
    flex-wrap: wrap;
    
    align-content: flex-start;
    // border: 2px solid pink; 
    overflow: scroll;
    margin: 5px; 
    height: calc(100vh - 122px);
}

.floor.floor-set {
    flex-direction: column;
    flex-wrap: nowrap;
}

.floor-row {
    display: flex;
}

.square {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
    overflow: hidden;
}

.rotate_2 { transform: rotate(90deg); }
.rotate_3 { transform: rotate(180deg); }
.rotate_4 { transform: rotate(270deg); }


.floor-row .square {
    border-color: #ccc;
}

.floor-row .square:last-child {
    border-right: 1px solid #ccc;
}

.floor-row:last-child .square {
    border-bottom: 1px solid #ccc;
}
//
.floor-row .square.selected {
    background-color: lime;
}
//
.floor-row .square.can-path {
    background-color: #eaeaea;
    cursor: pointer;
}
//
.floor-row .square.path {
    background-color: orange;
}

mat-slider {
    width: 300px;
}

.bot {
    // background-image: url(../../assets/images/robot.svg);
    // background-repeat: no-repeat;
    // background-position: center;
    
    -webkit-mask: url(../../assets/images/robot.svg) no-repeat center / contain;
    mask: url(../../assets/images/robot.svg) no-repeat center / contain;
    background-color: #000;
}

.bot-has-path .bot {
    background-color: orange;
}