.comp-header {
  background: cyan;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.contacts-holder {
  width: 100%;
  // height: calc(100vh - 65px);
  padding: 10px;
  background: yellow;
}

.alerts-holder {
  width: 400px;
  height: 100%;
  background: pink;
}


/* TABLE */

table {
  width: 100%;
}

.contacts-container {
  // height: 400px;
  overflow: auto;
}

.example-detail-row {
  height: 0;
}

.example-element-row {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-column-expandedDetail {
  border-bottom: 0 ;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

