<input #addIdea 
       name="addIdea"
       placeholder="add idea"
       (keyup.enter)="getInputData($event)" >

<!-- Note: changes made to this file won't affect the
     test suite; this file only impacts Web Preview 
-->
<app-practice
  [stages]="[
    'Idea', 
    'Development', 
    'Testing', 
    'Deployment'
  ]"
  [newIdeaer]="newIdeaer"
></app-practice>


<hr>

<select [(ngModel)]="selectedUserId" (ngModelChange)="changeUser()">
  <option>Select a User</option>
  <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
</select>

<select [(ngModel)]="blackListedUsers" (ngModelChange)="changeUser()" multiple>
  <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
</select>

Allow black listed users <input type="checkbox" [(ngModel)]="allowBlackListedUsers"/>

<button [disabled]="isUserBlackListed && !allowBlackListedUsers">Submit</button>

<hr>

<h1>Knights of the Round Table</h1>
<table>
	<thead>
		<tr>
			<th resizable>Member</th>
			<th resizable>Nickname</th>
			<th>Fate</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<td *ngFor="let cell of row">{{cell}}</td>
		</tr>
	</tbody>
</table>

<hr>

<div style="width: 500px; height: 500px; background: yellow;">
  <as-split direction="horizontal">
    <as-split-area [size]="40" minSize="15" maxSize="70">
      <p>LEFT</p>
    </as-split-area>
    <as-split-area [size]="60">
      <p>RIGHT</p>
    </as-split-area>
  </as-split>
</div>