<input #addIdea 
       name="addIdea"
       placeholder="add idea"
       (keyup.enter)="getInputData($event)" >

<!-- Note: changes made to this file won't affect the
     test suite; this file only impacts Web Preview 
-->
<app-practice
  [stages]="[
    'Idea', 
    'Development', 
    'Testing', 
    'Deployment'
  ]"
  [newIdeaer]="newIdeaer"
></app-practice>


<hr>

<select [(ngModel)]="selectedUserId" (ngModelChange)="changeUser()">
  <option>Select a User</option>
  <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
</select>

<select [(ngModel)]="blackListedUsers" (ngModelChange)="changeUser()" multiple>
  <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
</select>

Allow black listed users <input type="checkbox" [(ngModel)]="allowBlackListedUsers"/>

<button [disabled]="isUserBlackListed && !allowBlackListedUsers">Submit</button>