<h3>Profile</h3>

<div class="profileHeader">
  <div id="picHolder">
    <div class="profilePic"></div>
  </div>

  <div>
    <div class="profileName">
      Tony Stark
    </div>
    <div class="profileRoles">
      Administrator
      <div>
        <a (click)="logout()">Sign out</a>
      </div>
    </div>

  </div>
</div>

<div class="profileDetails animation-fade-in">
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</div>
