<h3>User Profile</h3>



<div class="profileHeader">
  <div id="picHolder">
    <div class="profilePic"></div>
  </div>

  <div>
    <div class="profileName">
      George Clooney
    </div>
    <div class="profileRoles">
      Administrator

      <div>
        <a (click)="logout()">Sign out</a>
      </div>
    </div>


  </div>
</div>

<div class="profileDetails">
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</div>
