<h3>Profile</h3>

<div class="profileHeader">
  <div id="picHolder">
    <div class="profilePic"></div>
  </div>

  <div>
    <div class="profileName">
      Mark Angeletti
    </div>
    <div class="profileRoles">
      Administrator
      <div>
        <a (click)="logout()">Sign out</a>
      </div>
    </div>

  </div>
</div>

<div class="profileDetails ">
  <ul class="profile-links">
    <li><i class="fas fa-at"></i> mark.angeletti@gmail.com</li>
    <li><i class="fab fa-linkedin-in"></i> https://www.linkedin.com/in/markangeletti</li>
    <li><i class="fab fa-facebook-f"></i> https://www.facebook.com/mark.angeletti</li>
    <li><i class="fab fa-twitter"></i> https://twitter.com/markangeletti</li>
  </ul>
</div>