<mat-toolbar>
  Select Team
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<mat-toolbar>
  <div class="drop-down-250">
    <mat-form-field>
      <!-- <mat-label>Team</mat-label> -->
      <mat-select
        (selectionChange)="changeTeam($event.value)"
        [(value)]="selectedTeam"
        panelClass="my-select-panel" >
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="primary" type="button" (click)="addToTeam()" >Submit</button>
</mat-toolbar>


<ng-container *ngFor="let hero of passedInHeroes">
  <div class="hero-item backing-color">
    {{ hero.name }}
  </div>
</ng-container>
