$light-gray           : #f2f2f2;

:host ::ng-deep .drop-down-250 .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  width: 250px;
}

.hero-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  margin: 2px 0;
  padding: 2px;
  padding-left: 10px;
}

.backing-color {
  background-color: $light-gray;
}
