$light-gray           : #f2f2f2;

.team-member {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  margin: 2px 0;
  padding: 2px;
  padding-left: 10px;
}

.backing-color {
  background-color: $light-gray;
}

.team-member span:nth-child(1) {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-member span:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
}
