.cardTitle { font-weight: bold; }
.movie-details { padding: 5px; }
.meta { margin-bottom: 7px; }
.left-header { padding-left: 10px; }
.mid-header { flex-grow: 1; }
.right-header { padding-right: 10px; }

.flex-parent {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px;
  position: relative;
}

.iScrollViewport { flex-grow: 1; }

.iScrollItem {
  margin: 5px;
  height: 278px;
  width: 450px;
  overflow: hidden;
}

.iScrollItem .imgThumbnail {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.iScrollItem.mat-card { padding: 0 !important; }

.list-item-details {
  position: fixed;
  top: 100px;
  padding: 20px;
}

.titleLarge { font-weight: 700; margin-right: 15px; font-size: 20px; }
.detailsHolder { padding: 15px; }
.overview {
  line-height: 16px;
  padding: 5px;
}

// mat-card { border: 2px solid transparent; cursor: pointer; }
// mat-card.selectedCard { border: 2px solid rgba(73, 232, 73, 0.75) }

// .mat-card > .mat-card-actions { position: absolute; bottom: 0; margin: 0; }
// .mat-card > .mat-card-actions button { font-size: 16px; margin-right: 10px; }
// .mat-card > .mat-card-actions button .mat-icon { font-size: 16px; }

.fParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards-flex-parent {
  display: flex;
}
