<ng-container *ngIf="movies">

  <div class="comp-header">
    <span>Total: {{ moviesRetrieved }} of {{ moviesTotal }}</span>
    &nbsp;
    <mat-form-field>
      <!-- <mat-label>Year</mat-label> -->
      <mat-select [(value)]="selectedYear" (selectionChange)="selectYear($event)">
        <mat-option [value]="option" *ngFor="let option of filterableYears">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="flex-parent"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScrollDown($event)"
    (scrolledUp)="onUp($event)"
    [@hideShowItems]="hideShowItemsState"

  >
    <mat-card
      *ngFor="let movie of movies.results; let i = index; let last = last"
      class="iScrollItem"
      [class.selectedCard]="movie.selected"
      (click)="selectItem(movie)"
      @items
    >
      <!-- [@scaleFull]="list[i].showItemDetails" -->
      <!-- <mat-card-header>
        <mat-card-title>
          <h3 class="card-title">{{ movie.name }}</h3>
          <span class="iNumber">{{ i + 1 }}</span>
        </mat-card-title>
      </mat-card-header> -->

      <mat-card-content>

        <div class="cards-flex-parent">

          <div>
            <div *ngIf="movie.poster_path != null; then truthyTemplate else falsyTemplate"></div>

            <ng-template #truthyTemplate >
              <img class="imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}">
            </ng-template>

            <ng-template #falsyTemplate>
              <img class="imgThumbnail" src="assets/images/no-image.jpg">
            </ng-template>
          </div>

          <div class="movie-details">
            <h6 class="cardTitle" >{{ movie.title }}</h6>
            <div class="meta fParent">
              <i class="material-icons">calendar_today</i>
              <span>{{ movie.release_date | date:"yyyy" }}</span>

              <i class="material-icons">star_border</i>
              <span>{{ movie.vote_average }}</span>
            </div>
            <div class="overview ">{{ movie.overview | truncate:500 }}</div>
          </div>

        </div>

      </mat-card-content>
<!--
      <mat-card-actions>
        <button mat-icon-button matTooltip="details" (click)="details(i, item, $event)"><i class="far fa-address-card"></i></button>
        <button mat-icon-button matTooltip="delete" (click)="remove(i, $event)"><i class="far fa-trash-alt"></i></button>
      </mat-card-actions> -->
    </mat-card>
  </div>
