<div id="meta">
    <div style="float: left">
<!--
        <div class="loadingSpinner">
            <spinner name="mySpinner"></spinner>
        </div>
-->
        <span class="metaSearchText">{{moviesRetrieved}} of {{moviesTotal}} </span>

        <select name="primary_release_year" [(ngModel)]="primary_release_year" style="width: 150px;" (change)="filterByYear()">
            <option value="0">None</option>
            <option *ngFor="let year of filterableYears" [value]="year">{{year}}</option>
        </select>
<!--
        <select name="genres" [(ngModel)]="genre_id" style="width: 150px;" (change)="filterByGenre()">
            <option value="null">Filter by genres...</option>
            <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
        </select>
-->
    </div>

<!--
    <div class="auto-complete-container">
        <input type="text" autocomplete="off" [(ngModel)]="filterKeyword" (keyup)="filterByKeyword()"  placeholder="Filter by keywords...">

        <div class="auto-complete-scroller">
            <ul class="auto-complete-list" *ngIf="keywordSearchList != undefined" >
                <li *ngFor="let item of keywordSearchList" ><a (click)="selectedKeyword(item)" > {{item.name}}</a></li>
            </ul>
        </div>
    </div>
-->

<!--
    <div class="keywordHolder" *ngIf="keywordsArray.length > 0">
        <ul>
            <li *ngFor="let item of keywordsArray">
                <span>{{item.name}}</span><span class="deleteKeyword"><span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="clearKeyword(item.id)" ></span></span>
            </li>
        </ul>
    </div>
-->


</div>

<div class="search-results">

    <ul class="comicsHolder" *ngIf="movies">


        <li *ngFor="let movie of movies.results" class="selected-{{movie.checked}}">

            <div *ngIf="movie.poster_path != null; then truthyTemplate else falsyTemplate"></div>

            <ng-template #truthyTemplate >
                <img class="comicThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}">
            </ng-template>

            <ng-template #falsyTemplate>
                <img class="comicThumbnail" src="assets/images/no-image.jpg">
            </ng-template>

            <div class="cardDetails">
                <a class="cardTitle" >{{movie.title}}</a>
                <p class="meta">
                    <span class="release_date">
                        <span class="glyphicon glyphicon-calendar"></span>
                        {{movie.release_date | date:"yyyy"}}
                    </span>
                    <br>
                    <span class="vote" title="Votes: {{movie.vote_count}}">
                        <span class="glyphicon glyphicon-star"></span>
                        {{movie.vote_average}}
                    </span>
                    <br>
                    <span class="genres">
                        <span class="glyphicon glyphicon-tag"></span>
                        {{movie.genre_ids}}
                    </span>
                </p>

                <p class="overview">{{movie.overview}}</p>

            </div>
        </li>


    </ul>

</div>
