<div class="board">

  <div id="no-side" class="list-wrapper">

    <div class="list-header">
      <h3>No Side</h3>
    </div>

    <div class="scroller">

      <div class="list"
        cdkDropList
        #listThree="cdkDropList"
        [cdkDropListData]="list1"
        [cdkDropListConnectedTo]="[listOne, listTwo]"
        (cdkDropListDropped)="onDrop($event)">

        <div class="list-cards">

          <mat-card *ngFor="let item of list1" cdkDrag (click)="selectCard(item)"
            [class.selectedCard]="item.isSelected">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{item.gender}}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-footer>

            </mat-card-footer>
          </mat-card>

        </div>

      </div>

    </div>

    <div class="list-footer">
      Total Cards: {{list1.length}}
    </div>

  </div>

  <!-- next list -->

  <div id="light-side" class="list-wrapper">

    <div class="list-header">
      <h3>Light Side</h3>
    </div>

    <div  class="scroller">

      <div class="list"
        cdkDropList
        #listOne="cdkDropList"
        [cdkDropListData]="list2"
        [cdkDropListConnectedTo]="[listTwo, listThree]"
        (cdkDropListDropped)="onDrop($event)">

        <div class="list-cards">

          <mat-card *ngFor="let item of list2" cdkDrag (click)="selectCard(item)"
            [class.selectedCard]="item.isSelected">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{item.gender}}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-footer>

            </mat-card-footer>
          </mat-card>

        </div>

      </div>

    </div>

    <div class="list-footer">
      Total Cards: {{list2.length}}
    </div>

  </div>

  <!-- next list -->

  <div id="dark-side" class="list-wrapper">

    <div class="list-header">
      <h3>Dark Side</h3>
    </div>

    <div class="scroller">

      <div class="list"
        cdkDropList
        #listTwo="cdkDropList"
        [cdkDropListData]="list3"
        [cdkDropListConnectedTo]="[listOne, listThree]"
        (cdkDropListDropped)="onDrop($event)">

        <div class="list-cards">

          <mat-card *ngFor="let item of list3" cdkDrag (click)="selectCard(item)"
            [class.selectedCard]="item.isSelected">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{item.gender}}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-footer>

            </mat-card-footer>
          </mat-card>

        </div>

      </div>

    </div>

    <div class="list-footer">
      Total Cards: {{list3.length}}
    </div>

  </div>




</div>
