#cardViewUsers { margin: 10px; }

mat-card {
    color: #333;
    border: 2px solid transparent;
    float: left;
    width: 190px;
    height: 200px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 11px;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

mat-card.selectedCard { border: 2px solid rgba(73, 232, 73, 0.75) }

#cardViewUsers mat-card h3 { text-align: center; font-size:15px; }


.toolbar-wrapper { display: flex; }
.mat-toolbar .mat-paginator  { flex-grow: 2; background-color: transparent; color: currentColor; }
#comp-toolbar .mat-toolbar-row.search-row { align-items: flex-end; height: 40px; }
#comp-toolbar .mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
    font: 400 16px/24px Roboto,"Helvetica Neue",sans-serif;
}


