.epl-table {
    max-width: 400px;
    padding: 0;
    margin: 6px;
}

.table-header {
    display: flex;
    background: #3F1052;
    color: #fcfcfc;
    text-transform: uppercase;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.table-header h3 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1.25;
}

.epl-logo {
    width: 150px;
    height: 118px;
}

.table-meta span {
    font-size: 12px;
    opacity: 0.8;
}

.tableFooty {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tableHead {
    font-weight: bold;
}

.tableRow {
    display: flex;
    flex-direction: row;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tableRow:nth-child(5) {
    border-bottom: 1px solid limegreen;
}

.tableRow span {
  margin: 0;
width: 36px;
  padding: 2px;
  text-align: center;
  align-self: center;
}



/* LFC Upcoming Matches */ 

.lfcGames {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.12);;
    padding: 5px;
    margin: 2px;
    width: 146px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.upcomingMatches {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.matchDay {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 12px;
    line-height: 15px;
    align-self: center;
}

.matchDay div {
    padding: 0;
    margin: 0;
    height: 15px;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    background-color: #ccc;
}

.carousel-slide-mask {
    background-color: palegreen;
    overflow: hidden;
}

.carousel-slider {
    display: inline-flex;
}

.carousel-button {
    align-self: center;
    background-color: pink;
}

// .bRight {
//     align-items: left;
// }

// .bLeft {
//     align-items: right;
// }

.carousel-button button {
    position: relative;
    // color: #000;
    background: #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border: 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.carousel-button button:disabled {
    opacity: 0.5;
}