<ul class="tableFooty" >
    <li class="tableRow tableHead">
        <span></span>
        <span></span>
        <span>MP</span>
        <span>W</span>
        <span>D</span>
        <span>L</span>
        <span>GF</span>
        <span>GA</span>
        <span>GD</span>
        <span>Pts</span>
    </li>
    <li class="tableRow" *ngFor="let item of eplTable;">
        <span>{{ item.position }}</span>
        <!-- <span>{{ item.team.name }}</span> -->
        <span><img [src]="item.team.crestUrl" width="30" height="30" [title]="item.team.name" /></span>
        <span>{{ item.playedGames }}</span>
        <span>{{ item.won }}</span>
        <span>{{ item.draw }}</span>
        <span>{{ item.lost }}</span>
        <span>{{ item.goalsFor }}</span>
        <span>{{ item.goalsAgainst }}</span>
        <span>{{ item.goalDifference }}</span>
        <span>{{ item.points }}</span>
    </li>
</ul>

<!-- LFC upcoming Matches -->

<div class="lfcGames"  *ngFor="let item of lfcMatches;">

    <div class="upcomingMatches">

        <ng-container *ngIf="item.homeTeam.id !== 64">
            <div><img [src]="item.homeTeam.crestUrl" width="50" height="50" [title]="item.homeTeam.name" /></div>
        </ng-container> 

        <ng-container *ngIf="item.awayTeam.id !== 64">
            <div><img [src]="item.awayTeam.crestUrl" width="50" height="50" [title]="item.awayTeam.name" /></div>
        </ng-container>

        <div class="matchDay">
            <div>{{ item.utcDate | date: 'EEEE' }}</div>
            <div>{{ item.utcDate | date: 'MMMM d' }}</div>
            <div>{{ item.utcDate | date: 'h:mm a':'MT' }}</div>
        </div>

    </div>
    
</div>
