<div class="comp-search-bar" #advSearchHolder>

  <form [formGroup]="form" (ngSubmit)="searchSubmit()" class="searchHolder" #myForm="ngForm">

    <!-- search bar start -->
    <div class="searchBar" [ngClass]="{'shadow whiteBg': searchHasfocus == true}">

      <div class="leftSide">
        <button type="button" class="mainSearchBtn" aria-label="Search" role="button">
          <label for="search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </label>
        </button>
      </div>

      <div class="searchInput">
        <input type="text" class="mainSearch" aria-label="Search" autocomplete="off" placeholder="Search" value="" id="search" formControlName="textSearch" dir="ltr" spellcheck="false" aria-haspopup="true" (focus)="focusSearch()" (focusout)="focusOutSearch()" (input)="onSearchChange($event.target.value)" (keyup)="onKey($event)">
      </div>

      <div class="mainSearchBtn" *ngIf="searching" >
        <i class="fas fa-cog fa-spin" aria-hidden="true"></i>
      </div>

      <div *ngIf="hasSearchOptions && !searching">
        <button type="button" style="color:#990000;" class="mainSearchBtn" aria-label="Clear Search" role="button" (click)="xFilter()" >
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>

      <div *ngIf="useAdvancedSearch">
        <button type="button" class="mainSearchBtn rightSide" aria-label="Advanced search options" role="button" (click)="hideSearch = !hideSearch" >
          <i class="fas fa-chevron-down" aria-hidden="true" [style.visibility]="hideSearch ? 'visible' : 'hidden'"></i>
        </button>
      </div>

    </div>
    <!-- search bar end -->


    <div id="advSearch" class="shadow" [hidden]="hideSearch">

      <div class="advSearchWrap">
        <span class="advSearchLabelWrap">
          <label for="startDateSearch">From</label>
        </span>
        <span class="advSearchInputWrap">
          <input type="date" class="advSearchInput" id="startDateSearch" formControlName="startDateSearch" >
          <!-- <p-calendar showButtonBar="true" [showIcon]="true" name="startDateSearch" formControlName="startDateSearch" ></p-calendar> -->

        </span>
      </div>

      <div class="advSearchWrap">
        <span class="advSearchLabelWrap">
          <label for="endDateSearch">To</label>
        </span>
        <span class="advSearchInputWrap">
          <input type="date" class="advSearchInput" id="endDateSearch" formControlName="endDateSearch" >

        </span>
      </div>

      <div class="advSearchWrap">
        <span class="advSearchLabelWrap">
            <label for="textSearch">Search Text</label>
        </span>
        <span class="advSearchInputWrap">
            <input type="text" class="advSearchInput" id="textSearch" formControlName="textSearch" (input)="onSearchChange($event.target.value)">
        </span>
      </div>

      <div class="advSearchWrap">
        <span class="advSearchLabelWrap">
          <label for="showInactive">Show Inactive</label>
        </span>
        <span class="advSearchInputWrap">
          <input type="checkbox" id="showInactive" formControlName="showInactive" >
        </span>
      </div>

      <div class="searchBtns">
        <button pButton type="button" class="ui-button-secondary" label="Clear" (click)="clearFilterForm()" ></button> &nbsp;
        <button pButton type="submit" class="ui-button-success" label="Search" ></button> &nbsp;
        <button pButton type="button" class="ui-button-warning" label="Cancel" (click)="hideSearch = !hideSearch" ></button>
      </div>

    </div>

  </form>

  <!-- <span class="search-results">{{ searchItemsRetrieved }}/{{ searchItemsTotal }}</span> -->

</div>
