<div class="page-container">
  <div class="center-all theme-holder">

    <div class="intro">
      <div class="wow animate__animated animate__flipInX" data-wow-delay=".5s">designer,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="1s">developer,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="1.5s">living in Littleton,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="2s">Colorado.</div>
    </div>

    <div class="flex-work">

      <div class="company">
        <div class="years">2017 - 2020</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Senior Software Developer</div>
            <div class="name">@ Katerra</div>
          </div>

          <div class="desc">
            Engaged in all phases of the software development lifecycle, including gathering requirements, creating wireframes, designing, developing and supporting
          </div>
        </div>
      </div>

      <div class="company">
        <div class="years">2010 - 2017</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Lead Frontend Developer</div>
            <div class="name">@ Eberl Claims Service</div>
          </div>

          <div class="desc">
            Leveraged modern UI technologies and UX concepts to build the frontend of a cloud based application
          </div>
        </div>
      </div>

      <div class="company">
        <div class="years">2008 - 2010</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Web Developer</div>
            <div class="name">@ Malenke Barnhart</div>
          </div>

          <div class="desc">
            Transformed wireframes and mock-ups into fully functional web pages
          </div>
        </div>
      </div>

      <div class="company">
        <div class="years">2008 - 2008</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Software Developer</div>
            <div class="name">@ Imerica</div>
          </div>

          <div class="desc">
            Developed software using incremental or iterative life cycle process. Utilized an Agile / Scrum software methodology throughout the software life cycle
          </div>
        </div>
      </div>

      <div class="company">
        <div class="years">2001 - 2008</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Software Developer</div>
            <div class="name">@ JPMA Inc</div>
          </div>

          <div class="desc">
            Web development specializing in web standards, accessibility, and usability
          </div>
        </div>
      </div>

      <div class="company">
        <div class="years">1997 - 2001</div>
        <div class="line"></div>
        <div class="flexify">
          <div>
            <div class="title">Principal Instructor</div>
            <div class="name">@ New Horizons Computer Training Center</div>
          </div>

          <div class="desc">
            Trained individuals on a vast array of computer languages and applications
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
