<div class="page-container">
  <div class="center-all theme-holder">

    <div class="intro">
      <!-- <div class="wow animate__animated animate__flipInX" data-wow-delay=".5s">designer,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="1s">developer,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="1.5s">living in Littleton,</div>
      <div class="wow animate__animated animate__flipInX" data-wow-delay="2s">Colorado.</div> -->
      <div class="down4">designer,</div>
      <div class="down3">developer,</div>
      <div class="down2">living in Littleton,</div>
      <div class="down1">Colorado.</div>
    </div>

    <div class="flex-work">

      <ng-container *ngFor="let job of jobs">
        <app-job [jobDetails]="job"></app-job>
      </ng-container>

    </div>

  </div>
</div>