.page-container {
  height: -moz-calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: calc(100vh - 65px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-all {
  width: 35rem;
  height: 200px;
  text-align: center;
  font-family: sans-serif;
}
