
.page-container {
  height: -moz-calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: calc(100vh - 65px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-all {
  width: 35rem;
  height: 200px;
  text-align: center;
  font-family: sans-serif;
}


.desc div {
  position: relative;
  font-family: Raleway, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  // display: inline-block;
  letter-spacing: -3px;
  line-height: 1em;

  animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  // animation-delay: 2s;

  // transform: matrix(1, 0, 0, 1, 0, 0);
}
