.comp-header {
  background: cyan;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.contacts-holder {
  width: 65%;
  // height: calc(100vh - 65px);
  padding: 10px 5px;
}

.alerts-holder {
  width: 33%;
  padding: 10px 5px;
}
