.list-holder {
    display: flex;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    // width: 375px;
    width: 215px;    
    margin: 5px;
    // background: rgba(0, 0, 0, 0.185);
    background-color: #ffffff;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
    height: -moz-calc(100vh - 75px);
    height: -webkit-calc(100vh - 75px);
    height: calc(100vh - 75px);
}
::ng-deep .dark-theme .list-wrapper {
    background: #424242 !important;
}

.list-header {
    height: 150px;
    padding: 5px;
}

.list-header .mat-form-field { width: 100%; }

::ng-deep .list-header .mat-form-field-wrapper { padding-bottom: 0; }

.list { // for the drop zone
    min-height: 100vh;
}

.scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 5px;
}

.card-flex {
    display: flex;
}

.name {
    font-weight: bold;
    padding: 5px;
    line-height: 17px;
}

.air-date {
    padding-left: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.overview {
    line-height: 16px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

// footer
.list-footer { 
    height: 30px;
    font-size: 12px;
    padding: 5px;
}

.footer-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.list-selected {
    flex-grow: 2;
    line-height: 12px;
    padding: 4px 6px;
}
.list-selected span {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: rgba(73, 232, 73, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.list-counts {
    line-height: 12px;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.1);; 

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/////
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder, .custom-placeholder {
    // height: 200px;
    opacity: .5;
    transition: transform 500ms ease;
}

.btns-wrapper {
    display: flex;
    flex-direction: column;
    width: 125px;
    padding-top: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.085);

    // -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
    // -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
    // box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
    height: -moz-calc(100vh - 75px);
    height: -webkit-calc(100vh - 75px);
    height: calc(100vh - 75px);
}

.btns-wrapper .btns {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    align-items: center;
}

.btns-wrapper .btns button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
::ng-deep .default-theme .btns-wrapper .btns button {
    // border: 5px solid #fafafa;
    background-color: #fafafa;
}
::ng-deep .dark-theme .btns-wrapper .btns button {
    // border: 5px solid #303030;
    background-color: #303030;
}
  
.btns-wrapper .btns button .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.btns-wrapper .btns button .mat-icon .material-icons {
    font-size: 40px;
}

.btns-wrapper .blurp-one {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.075);
    text-transform: uppercase;
    font-size: 11px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btns-wrapper .blurp-two {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.075);
    text-transform: uppercase;
    font-size: 11px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.progress-circle {
    position: absolute;
    top: 2px;
    left: 2px;
    transition: opacity 1s;
    opacity: 1;
}

/* flip */
$linkcolour: skyblue;

.flip-card {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 185px;
    height: 278px;
    margin: 0 0 0 5px;
    perspective: 1000px;
    cursor: move;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.flip-card img {
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
  
.flip-card-inner {
    position: relative;
    width: 185px;
    height: 278px;
    text-align: center;

    transition: transform 0.5s;
    transform-style: preserve-3d;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.flip-card.selectedCard {
    z-index: 4;
}

.flip-card.selectedCard .progress-circle{
    transition: opacity 0.5s;
    opacity: 0;
}
  
.flip-card.selectedCard .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 278px;
    // 
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
  
.flip-card-front {
    background-color: #fafafa;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
  
.flip-card-back {
    padding: 10px;
    color: rgba(0, 0, 0, 0.87);
    background-color: lighten($linkcolour, 20%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: rotateY(180deg);
}
