<div class="list-holder" cdkDropListGroup>

  <!-- one -->
  <div id="list-one" class="list-wrapper my-shadow">

    <div class="list-header">

      <mat-form-field appearance="outline">
        <mat-label>Search by:</mat-label>
        <input matInput placeholder="Search..." [(ngModel)]="searchKey" (keyup)="search($event)">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Sort by:</mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
          <mat-option *ngFor="let item of sortColumns" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="scroller">

      <div class="list" id="listOne"
        cdkDropList
        #listOne="cdkDropList"
        [cdkDropListData]="listSource"
        [cdkDropListConnectedTo]="[listTwo]"
        (cdkDropListDropped)="onDrop($event)"
        >
      
        <div class="list-cards">

          <!-- flip card -->
          <div class="flip-card "
            *ngFor="let item of listSource; let i = index; let last = last"
            
            [class.selectedCard]="item.selected"
            (click)="selectItem(item)"
            cdkDrag
            @items
          >
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                
                <div class="card-flex">
   
                  <div *ngIf="item.poster_path != null; then truthyTemplate else falsyTemplate"></div>
      
                  <ng-template #truthyTemplate >
                    <img class="imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}">
                  </ng-template>
      
                  <ng-template #falsyTemplate>
                    <img class="imgThumbnail" src="assets/images/no-image.jpg">
                  </ng-template>
          
                  <circle-progress
                    class="progress-circle"
                    [percent]="item.vote_average * 10"
                    backgroundColor="#000000"
                    backgroundPadding="2"
                    backgroundOpacity="0.5"
                    backgroundStrokeWidth="0"
                    backgroundStroke="#000000"
                    outerStrokeWidth="3"
                    innerStrokeWidth="0"
                    titleColor="#ffffff"
                    showInnerStroke="false"
                  ></circle-progress>
                </div>
                
              </div>
              <div class="flip-card-back" >
                
                <div class="card-content">
                  <div class="name">{{ item.name }}</div>
                  <div class="air-date">{{ item.first_air_date | date:"mediumDate" }}</div>
                  <div class="overview">{{ item.overview | truncate:275 }}</div>
                </div>

              </div>
              <!-- both sides -->

            </div>
          </div> <!-- end flip card -->

          <!-- this is an anchor for (infinite-scroll) -->
          <div class="list-card infinite-scroll-loading" #anchor>
          </div>

        </div>

      </div>

    </div>

    <div class="list-footer">
      <div class="footer-bar">
        <div class="list-selected"><span>&nbsp;</span> {{ selectedItemsListOne.length }}</div>
        <div class="list-counts">{{ listSource.length }} of {{ itemsTotalCount }}</div>
      </div>
    </div>

  </div>

  <div class="btns-wrapper my-shadow-inset">
    <div class="blurp-one">
      <span class="material-icons">
        arrow_back
      </span>
      <span>TV shows provided by themoviedb</span>
    </div>
    <div class="blurp-two">
      <span>Some of my current favorites</span>
      <span class="material-icons">
        arrow_forward
      </span>
    </div>
    <div class="btns">

        <button mat-icon-button color="primary" (click)="moveLeft()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="moveRight()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

    </div>
  </div>

  <!-- two -->
  <div id="list-two" class="list-wrapper my-shadow">

    <div class="list-header">
     
      <mat-form-field appearance="outline">
        <mat-label>Search by:</mat-label>
        <input matInput placeholder="Search..." [(ngModel)]="searchKeyTwo" (keyup)="searchTwo($event)">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Sort by:</mat-label>
        <mat-select (selectionChange)="onSortChangeTwo($event)" [(value)]="myTvSelected" >
          <mat-option *ngFor="let item of sortColumns" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="scroller">

      <div class="list" id="listTwo"
        cdkDropList
        #listTwo="cdkDropList"
        [cdkDropListData]="listSource2"
        [cdkDropListConnectedTo]="[listOne]"
        (cdkDropListDropped)="onDrop($event)"
        >
  
        <div class="list-cards">

          <!-- flip card -->
          <div class="flip-card "
            *ngFor="let item of listSource2; let i = index; let last = last"
            
            [class.selectedCard]="item.selected"
            (click)="selectItem(item)"
            cdkDrag
            @items
          >
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                
                <div class="card-flex">
                
                  <div *ngIf="item.poster_path != null; then truthyTemplate else falsyTemplate"></div>
      
                  <ng-template #truthyTemplate >
                    <img class="imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}">
                  </ng-template>
      
                  <ng-template #falsyTemplate>
                    <img class="imgThumbnail" src="assets/images/no-image.jpg">
                  </ng-template>

                  <circle-progress
                    class="progress-circle"
                    [percent]="item.vote_average * 10"
                    backgroundColor="#000000"
                    backgroundPadding="2"
                    backgroundOpacity="0.5"
                    backgroundStrokeWidth="0"
                    backgroundStroke="#000000"
                    outerStrokeWidth="3"
                    innerStrokeWidth="0"
                    titleColor="#ffffff"
                    showInnerStroke="false"
                  ></circle-progress>
                </div>
                
              </div>
              <div class="flip-card-back" >
                
                <div class="card-content">
                  <div class="name">{{ item.name }}</div>
                  <div class="air-date">{{ item.first_air_date | date:"mediumDate" }}</div>
                  <div class="overview">{{ item.overview | truncate:275 }}</div>
                </div>

              </div>
              <!-- both sides -->

            </div>
          </div> <!-- end flip card -->
      
          <!-- this is an anchor for (infinite-scroll) -->
          <div class="list-card infinite-scroll-loading" #anchor>
            
          </div>

        </div>

      </div>

    </div>

    <div class="list-footer">
      <div class="footer-bar">
        <div class="list-selected"><span>&nbsp;</span> {{ selectedItemsListTwo.length }}</div>
        <div class="list-counts">{{ listSource2.length }} of {{ listSource2.length }}</div>
      </div>
    </div>

  </div>

</div>