<div class="list-holder" cdkDropListGroup>

  <!-- one -->
  <div id="list-one" class="list-wrapper">

    <div class="list-header">

      <mat-form-field appearance="outline">
        <mat-label>Search by:</mat-label>
        <input matInput placeholder="Search..." [(ngModel)]="searchKey" (keyup)="search($event)">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Sort by:</mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
          <mat-option *ngFor="let item of sortColumns" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="scroller">

      <div class="list" id="listOne"
        cdkDropList
        #listOne="cdkDropList"
        [cdkDropListData]="listSource"
        [cdkDropListConnectedTo]="[listTwo]"
        (cdkDropListDropped)="onDrop($event)"
        >
      
        <div class="list-cards">

          <mat-card
            *ngFor="let item of listSource; let i = index; let last = last"
            class="list-card"
            [class.selectedCard]="item.selected"
            (click)="selectItem(item)"
            cdkDrag
            @items
            >
            <!-- <div class="custom-placeholder cdk-drag-placeholder" *cdkDragPlaceholder>
            </div> -->

            <!-- <div class="card-head">
              <h3 class="card-title theme-alt-font1">{{ item.title }}</h3>
              <span class="iNumber">{{ i + 1 }}</span>
            </div> -->
            <div class="card-flex">

              <div>
                <div *ngIf="item.poster_path != null; then truthyTemplate else falsyTemplate"></div>
    
                <ng-template #truthyTemplate >
                  <img class="imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}">
                </ng-template>
    
                <ng-template #falsyTemplate>
                  <img class="imgThumbnail" src="assets/images/no-image.jpg">
                </ng-template>
              </div>
        
              <div class="card-content">
                <div class="name">{{ item.name }}</div>
                <div class="air-date">{{ item.first_air_date | date:"mediumDate" }}</div>
                <div class="overview">{{ item.overview | truncate:275 }}</div>

                <circle-progress
                  class="progress-circle"
                  [percent]="item.vote_average * 10"
                ></circle-progress>
              </div>

            </div>
      
            <!-- <div class="card-actions">
              <button mat-icon-button matTooltip="details" #Details="matTooltip" (click)="Details.toggle()" ><i class="far fa-address-card"></i></button>
              <button mat-icon-button matTooltip="delete" #Delete="matTooltip" (click)="Delete.toggle()" (click)="remove(i, $event)"><i class="far fa-trash-alt"></i></button>
            </div> -->
          </mat-card>

          <!-- this is an anchor for (infinite-scroll) -->
          <div class="list-card infinite-scroll-loading" #anchor>
            
          </div>

        </div>

      </div>

    </div>

    <div class="list-footer">
      <div class="list-selected"><span></span> {{ selectedItemsListOne.length }}</div>
      <div class="list-counts">{{ listSource.length }} of {{ itemsTotalCount }}</div>
    </div>

  </div>

  <div class="btns-wrapper">
    <div class="blurp-one">
      <span class="material-icons">
        arrow_back
      </span>
      <span>TV shows provided by themoviedb</span>
    </div>
    <div class="blurp-two">
      <span>Some of my current favorites</span>
      <span class="material-icons">
        arrow_forward
      </span>
    </div>
    <div class="btns">

        <button mat-icon-button color="primary" (click)="moveLeft()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="moveRight()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

    </div>
  </div>

  <!-- two -->
  <div id="list-two" class="list-wrapper">

    <div class="list-header">
     
      <mat-form-field appearance="outline">
        <mat-label>Search by:</mat-label>
        <input matInput placeholder="Search..." [(ngModel)]="searchKeyTwo" (keyup)="searchTwo($event)">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Sort by:</mat-label>
        <mat-select (selectionChange)="onSortChangeTwo($event)" [(value)]="myTvSelected" >
          <mat-option *ngFor="let item of sortColumns" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="scroller">

      <div class="list" id="listTwo"
        cdkDropList
        #listTwo="cdkDropList"
        [cdkDropListData]="listSource2"
        [cdkDropListConnectedTo]="[listOne]"
        (cdkDropListDropped)="onDrop($event)"
        >
  
        <div class="list-cards">

          <mat-card
            *ngFor="let item of listSource2; let i = index; let last = last"
            class="list-card"
            [class.selectedCard]="item.selected"
            (click)="selectItem(item)"
            cdkDrag
            @items
            >
            <!-- <div class="custom-placeholder cdk-drag-placeholder" *cdkDragPlaceholder>
            </div> -->

            <!-- <div class="card-head">
              <h3 class="card-title theme-alt-font1">{{ item.title }}</h3>
              <span class="iNumber">{{ i + 1 }}</span>
            </div> -->
            <div class="card-flex">

              <div>
                <div *ngIf="item.poster_path != null; then truthyTemplate else falsyTemplate"></div>
    
                <ng-template #truthyTemplate >
                  <img class="imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}">
                </ng-template>
    
                <ng-template #falsyTemplate>
                  <img class="imgThumbnail" src="assets/images/no-image.jpg">
                </ng-template>
              </div>
        
              <div class="card-content">
                <div class="name">{{ item.name }}</div>
                <div class="air-date">{{ item.first_air_date | date:"mediumDate" }}</div>
                <div class="overview">{{ item.overview | truncate:275 }}</div>

                <circle-progress
                  class="progress-circle"
                  [percent]="item.vote_average * 10"
                ></circle-progress>
              </div>

            </div>
      
            <!-- <div class="card-actions">
              <button mat-icon-button matTooltip="details" #Details="matTooltip" (click)="Details.toggle()" ><i class="far fa-address-card"></i></button>
              <button mat-icon-button matTooltip="delete" #Delete="matTooltip" (click)="Delete.toggle()" (click)="remove(i, $event)"><i class="far fa-trash-alt"></i></button>
            </div> -->
          </mat-card>

          <!-- this is an anchor for (infinite-scroll) -->
          <div class="list-card infinite-scroll-loading" #anchor>
            
          </div>

        </div>

      </div>

    </div>

    <div class="list-footer">
      <div class="list-selected"><span></span> {{ selectedItemsListTwo.length }}</div>
      <div class="list-counts">{{ listSource2.length }} of {{ listSource2.length }}</div>
    </div>

  </div>

</div>